@font-face {
    font-family: "Noto-Sans", sans-serif;
    src: url("../fonts/Noto-sans/NotoSansCondensed-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Noto-Sans", sans-serif;
    src: url("../fonts/Noto-sans/NotoSansCondensed-SemiBold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Noto-Sans", sans-serif;
    src: url("../fonts/Noto-sans/NotoSansCondensed-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Bebas", sans-serif;
    src: url("../fonts/Bebas/BebasNeue-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
