body {
    min-height: 100%;
    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 1.28;
    color: #fff;
    background-color: var(--background-color);
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
    }

    &.opened {
        overflow: hidden;
    }

    &.opened .mobile-menu {
        display: block;
    }

    &.opened .burger-button span:nth-child(1) {
        rotate: 45deg;
        bottom: 35px;
        background-color: #000;
    }
    &.opened .burger-button span:nth-child(2) {
        opacity: 0;
        background-color: #000;
    }
    &.opened .burger-button span:nth-child(3) {
        rotate: -45deg;
        top: 32px;
        background-color: #000;
    }
}

.wrapper--main {
    .header {
        background-color: transparent;
    }

    .burger-button__line {
        background-color: #fff;
    }

    .menu-list {
        color: #fff;
    }
}

section[class] {
    @include desktop {
        padding-block: 50px;
    }
}

a,
button,
input {
    transition-duration: var(--transition-duration);
}

h1 {
    @include fluid-text(48, 80);
}

h2 {
    @include fluid-text(36, 60);

    color: var(--color-gray-dark);
    font-family: var(--font-family-alt);
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
