.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-big {
    max-width: 1920px;
    margin-inline: auto;
}

.visually-hidden {
    @include visually-hidden;
}

.mobile-menu-opened {
    position: absolute;
    top: calc(100) * -1;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    min-height: 100%;
}

.section-title {
    @include fluid-text(36, 60);

    text-transform: uppercase;
    color: #000;
    font-family: var(--font-family-alt);
    margin-bottom: 50px;
    position: relative;
    font-weight: 400;

    &::after {
        content: "";
        width: 100px;
        height: 2px;
        background-color: var(--color-accent);
        position: absolute;
        top: -30px;
        display: block;
    }
}

.item-title {
    @include fluid-text(20, 28);

    color: #000;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 35px;

    &:hover {
        color: var(--color-accent);
    }
}

.blue {
    font-weight: 600;
    color: var(--color-accent);
    padding-left: 60px;
    position: relative;
    font-size: 16px;
    margin-top: 15px;
    transition-duration: var(--transition-duration);

    &:hover {
        padding-left: 70px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 1px;
        background-color: var(--color-accent);
        top: 8px;
        left: 0;
    }
}

.item-desc {
    color: var(--color-gray);

    @include tablet {
        font-size: 14px;
    }

    @include laptop {
        font-size: 14px;
    }
}

.opened {
    top: 0;
}

.mobile-hidden {
    @include mobile;

    display: none;
}

.mobile-visible {
    @include mobile-above;

    display: none;
}
