.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-big {
    max-width: 1920px;
    padding-left: 50px;
    margin-inline: auto;
}

.visually-hidden {
    @include visually-hidden;
}

.mobile-hidden {
    @include mobile;

    display: none;
}

.mobile-visible {
    @include mobile-above;

    display: none;
}
