.arrow {
    content: "";
    position: absolute;
    top: 50%;
    right: -12px;
    transform: rotate(45deg) translate(-50%, -50%);
    width: 7px;
    height: 7px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 1px 1px 0;
    transition-duration: var(--transition-duration);

    &:hover::after {
        content: "";
        transform: rotate(90deg);
    }
}
