.burger-button {
    width: 80px;
    height: 69px;
    background-color: transparent;
    position: relative;
    border-right: 1px solid var(--background-color);
    display: none;
    z-index: 101;

    @include desktop {
        display: block;
    }

    & span {
        position: absolute;
        left: 30px;
        width: 20px;
        height: 2px;
        background-color: #fff;
        transition-duration: var(--transition-duration);
    }

    &--about & span {
        background-color: #000;
    }
}

.burger-button span:nth-child(1) {
    bottom: 25px;
}

.burger-button span:nth-child(2) {
    width: 15px;
}

.burger-button span:nth-child(3) {
    top: 27px;
}
