.categories {
    padding-block: var(--section-padding-y);

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__icons {
        display: flex;
        flex-direction: column;

        &-list {
            display: flex;
            flex-direction: column;
        }
        &-list-item {
            color: #000;
            display: flex;
            align-items: center;
            column-gap: 25px;
        }
    }
}
