.experts {
    padding-block: var(--section-padding-y);

    &__top {
        display: flex;
        align-items: center;

        @include desktop {
            flex-direction: column;
            row-gap: 72px;
        }
    }

    .section-title {
        margin-bottom: 25px;

        &::after {
            content: "";
        }
    }

    &__main {
        max-width: 720px;
        margin-left: auto;
        text-align: start;

        @include desktop {
            width: 100%;
            max-width: 100%;
        }
    }

    &__desc {
        margin-bottom: 40px;
        max-width: 600px;

        @include desktop {
            max-width: 100%;
            width: 100%;
        }
    }

    .triggers-list__title {
        color: #000;
    }
}
