.header {
    border: 1px solid var(--background-color);
    &__logo {
        margin-right: 50px;

        @include desktop-s {
            margin-right: 25px;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        background-color: black;
    }
}

.user-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    &__link {
        display: flex;
        align-items: center;
        margin-right: 50px;
        column-gap: 14px;
        color: #fff;
    }
    &__button {
        padding: 34px 50px;
        background-color: var(--color-accent);
        color: #fff;
        font-weight: 600;

        &:hover {
            background-color: var(--color-accent-dark);
        }
    }
}
