.mobile-menu {
    position: absolute;
    top: 0px;
    transition-duration: var(--transition-duration);
    right: 0;
    left: 0;
    bottom: 0;
    color: #000;
    font-size: 14px;
    min-height: 100%;
    display: none;
    z-index: 2;

    &.opened {
        display: block;
    }

    &__container {
        padding: 100px 15px 15px 15px;
        background-color: #fff;
        min-height: 100vh;
        z-index: 100;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        position: relative;
    }

    &__item {
        color: #000;
        font-weight: 700;
        padding-block: 5px;
    }

    &__link {
        position: relative;
    }

    &__link .arrow {
        right: -12px;
        border-color: #000;
    }

    &__dropdown {
        flex-direction: column;
        padding: 20px;
        padding-right: 0;
        row-gap: 10px;
        display: none;
    }

    &__droplink {
        color: var(--color-gray);
        font-weight: 400;
    }

    &__tel {
        font-size: 20px;
        margin: 30px 0 20px;
    }

    &__address {
        column-gap: 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }
}

.dropdownSelected.selected .mobile-menu__dropdown {
    display: flex;
}

.soc1al-links {
    display: flex;
    align-items: center;
    row-gap: 10px;

    a {
        padding: 5px;
    }
}
