.mobile-menu {
    position: absolute;
    top: 70px;
    transition-duration: var(--transition-duration);
    right: 0;
    left: 0;
    bottom: 0;
    color: #000;
    font-size: 14px;
    height: 100%;
    display: none;

    &__container {
        padding: 30px 15px 15px 15px;
        background-color: #fff;
        height: 100%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        position: relative;
    }

    &__item {
        color: #000;
        font-weight: 700;
        padding-block: 5px;
    }

    &__dropdown {
        flex-direction: column;
        padding: 20px;
        padding-right: 0;
        row-gap: 10px;
        display: none;
    }

    &__droplink {
        color: var(--color-gray);
        font-weight: 400;
    }

    .tel {
        font-size: 20px;
        font-weight: 600;
        text-decoration: underline;
        margin-top: 30px;
        margin-bottom: 20px;
        display: block;
    }

    &__address {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 10px;
    }
}

.dropdownSelected.selected .mobile-menu__dropdown {
    display: flex;
}

.soc1al-links {
    display: flex;
    align-items: center;
    row-gap: 10px;

    a {
        padding: 5px;
    }
}
