dialog {
    border: none;
    z-index: 1000;

    &:focus-visible {
        outline: none;
    }

    &::backdrop {
        background: rgba(0, 0, 0, 0.7);
    }
}

.modal {
    max-width: 460px;
    position: fixed;
    top: 50%;
    margin: 0 auto;
    // left: 50%;
    transform: translate(0, -50%);
    width: 100%;
    margin: auto;
    max-height: 90%;
    overflow: auto;

    @include mobile {
        width: 90%;
    }

    &__feedback-container {
        padding: 40px 50px;
    }

    .section-title {
        @include fluid-text(40, 48);

        margin-bottom: 20px;
    }

    .section-title::after {
        display: none;
    }

    &__feedback-container {
        position: relative;
    }

    .feedback {
        &__fields {
            flex-direction: column;
        }

        &__footer {
            flex-direction: column;
            row-gap: 0;
        }

        &__button {
            margin: 0;
            width: 100%;
        }

        &__disclaimer {
            margin-top: 24px;
        }

        &__label {
            background-color: #fff !important;
        }
    }

    &__feedback-text {
        margin-bottom: 30px;
    }

    .tanksMessage {
        &__image {
            margin-bottom: 30px;
        }

        &__button {
            width: 100%;
            color: #fff;
            padding-block: 20px;
            display: block;
            text-align: center;
            margin-top: 30px;
        }
    }
}
