.research {
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        @include tablet {
            flex-direction: column;
            row-gap: 10px;
        }
    }

    &__desc {
        width: 49%;

        @include tablet {
            width: 100%;
        }
    }

    &__swiper-slide-image {
        min-height: 400px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &--about {
        overflow: initial;
    }
}
