.trademarks {
    padding-block: var(--section-padding-y);

    &__list {
        display: flex;
        flex-wrap: wrap;

        &-svg {
            transition-duration: var(--transition-duration);
        }

        &-item {
            width: 50%;
            padding: 50px;
            column-gap: 50px;
            border: 1px solid var(--color-gray-light);
            display: flex;
            filter: grayscale(1);
            transition-duration: var(--transition-duration);
            position: relative;

            &:hover {
                filter: grayscale(0);
            }

            &:hover .trademarks__list-title {
                color: var(--color-accent);
            }

            &:hover .trademarks__list-svg {
                fill: var(--color-accent);
            }

            @include desktop {
                width: 100%;
            }

            @include laptop {
                padding: 25px;
                column-gap: 25px;
            }

            @include mobile {
                padding: 15px;
                flex-direction: column;
                row-gap: 25px;
            }
        }

        &-title {
            margin-top: 0;
        }

        &-link::after {
            content: "";
            position: absolute;
            inset: 0;
        }

        &-image {
            max-width: 140px;
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0 auto;

            @include tablet {
                max-width: 100px;
            }
        }
    }
}
